.title {
  color: #555050;
  text-transition: none;
  text-decoration: underline;
}
.title-red {
  font-size: 1.5em; 
  color: #FA3131;
  text-transition: none;
}
.title-green {
  color: #76EC9D;
  font-size: 1.5em;
  text-transition: none;
}
.description {
  color: #555050;
  font-size: 0.7em;
  text-transition: none;
}
.reveal h1 h2 h3 h4 h5 h6 {
  text-transform: none;
}

.reveal h1 {
  font-size: 1.7em;
}

.reveal h2 {
  font-size: 1.3em;
}

.reveal h3 {
  font-size: 1.1em;
}

.reveal h4 {
  font-size: 0.8em;
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
}

.image-frame {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}

.image-inline img {
  width: 300px;
}

.image-bkg img {
  object-fit: contain;
}

.col-dir {
  display: flex;
}
